doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer
    img.habicat-jumping(src="images/image-cat-jumping.svg" alt="Habicat jumping")
    img.habicat-set(src="images/image-cat-set.svg" alt="Habicat standing with package")
